
options.txt
patchouli_data.json
realms_persistence.json
mods/
resourcepacks/
logs/
journeymap/
local/
crash-reports/
config/byg
fancymenu_data/
fancymenu_setups/
patchouli_books/
schematics/
downloads/
minecraftinstance.json
.curseclient
config\client_data
